@model WypozyczalniaSamochodow.Models.AuthenticationInfo

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
@using (Html.BeginForm())
{
    <div class="col-md-1">
        <div>@Html.LabelFor(m => m.UserName)</div>
        <div>@Html.LabelFor(m => m.Password)</div>
    </div>
    <div class="col-md-11">
        <div>@Html.TextBoxFor(m => m.UserName)</div>
        <div>@Html.PasswordFor(m => m.Password)</div>
    </div>

    <input id="submit" type="submit" value="Login"/>
}

